.Debug {
  display: none;

  @media screen and (min-width: 900px) {
    display: block;
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    opacity: 0.5;

    & button {
      font-size: 1rem;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
